body {
    background-color: #f0f2f5;
    margin: 0;
}

[alt="fb_icon_325x325"] {
    height: 60px;
    width: 60px;
}
.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav img {
    height: 40px;
    width: 40px;
}
.nav input {
    border-radius: 35px;
    padding: 5px 35px;
    position: relative;
    left: -122px;
}
.nav form img {
    height: 15px;
    width: 15px;
    position: absolute;
    left: 110px;
    top: 24px;
    z-index: 1;
}
li img {
    height: 60px;
    width: 60px;
}
li img:hover {
    border-bottom: 3px solid #0866ff;
    color: rgb(75, 75, 224);
}
.header-icon {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.nav ul {
    margin-top: 10px;
}

header {
    width: 100vw;
    background-color: #ffff;
}

.nav input::placeholder {
    text-align: center;
}

[alt="profile"] {
    height: 290px;
    width: 175px;
    border-radius: 25px;
}

[alt="icon"] {
    height: 40px;
    width: 40px;
}

.icons {
    display: flex;
    flex-direction: column;
    row-gap: 20px ;
}
.aside1 {
    display: inline-block;
}
[alt="contact"] {
    height: 50px;
    width: 50px;
}
.post {
    padding: 1px 250px;
    background-color: #e4e6e8;
}
.post-card {
    background-color: #ffff;
    margin: 3.5rem;
}
[alt="post"] {
    height: 40px;
    width: 40px;
}
.about {
    background-color: #ffff;
    margin: 3.5rem;
}
[alt="Khaja"] {
    height: 610px;
    width: 100%;
}