/* .k-nav {
    background-color: aqua;
} */
.k-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}
.k-name span {
    font-size: 30px;
    color: brown;
}

ul :nth-child(1), ul :nth-child(2), ul :nth-child(4), ul :nth-child(5) {
    padding-top: 10px;
}

.bg-image {
    background-image: url();
    background-size: cover;
    height: 670px;
    background-repeat: no-repeat;
}

.about-me {
    padding-top: 250px;
}

[alt="khaja"] {
    border-radius: 10px;
}
